<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.hibernate" level="WARN" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="io.micronaut.context.AbstractBeanDefinitionReference" level="INFO" />
    <logger name="io.micronaut.context.condition.Condition" level="INFO" />
    <logger name="io.micronaut.context.DefaultBeanContext" level="INFO" />
    <logger name="io.micronaut.context.event" level="INFO" />
    <logger name="io.micronaut.context.env.PropertySourcePropertyResolver" level="INFO" />
    <logger name="io.micronaut.context.lifecycle" level="INFO" />
    <logger name="io.micronaut.core.reflect" level="INFO" />
    <logger name="io.micronaut.management" level="INFO" />

</configuration>
